@font-face {
	font-family: 'jamsil';
	font-weight: 100;
	src:url("./fonts//The\ Jamsil\ OTF\ 1\ Thin.otf") format('opentype');
}
@font-face {
	font-family: 'jamsil';
	font-weight: 200;
	src:url("./fonts/The\ Jamsil\ OTF\ 2\ Light.otf") format('opentype');
}
@font-face {
	font-family: 'jamsil';
	font-weight: 300;
	src:url("./fonts/The\ Jamsil\ OTF\ 3\ Regular.otf") format('opentype');
}
@font-face {
	font-family: 'jamsil';
	font-weight: 400;
	src:url("./fonts/The\ Jamsil\ OTF\ 4\ Medium.otf") format('opentype');
}
@font-face {
	font-family: 'jamsil';
	font-weight: 500;
	src:url("./fonts/The\ Jamsil\ OTF\ 5\ Bold.otf") format('opentype');
}
@font-face {
	font-family: 'jamsil';
	font-weight: 600;
	src:url("./fonts/The\ Jamsil\ OTF\ 6\ ExtraBold.otf") format('opentype');
}